<div class="carousel">
    <carousel
    [autoplayInterval]="2000"
    [objectFit]="'none'"
    [cellsToShow]="1"
    [cellWidth]="'100%'"
    [arrowsOutside]="false"
    [autoplay]="true"
    [dots]="true"
    [loop]="true"
    style="height: 70rem; margin: 0 ;"
    
    >


            <div class="carousel-cell" > 
                <img src="assets/Carousel/prueba-carrusel.jpg">
            </div>
            <div class="carousel-cell"> 
                <img src="assets/Carousel/carrusel-1.jpg">
            </div>
            <div class="carousel-cell" > 
                <img src="assets/Carousel/carrusel-2.jpg">
            </div>
            <div class="carousel-cell" > 
                <img src="assets/Carousel/carrusel-3.jpg">
            </div>
            <div class="carousel-cell" > 
                <img src="assets/Carousel/carrusel-4.jpg">
            </div>
            <div class="carousel-cell" > 
                <img src="assets/Carousel/carrusel-5.jpg">
            </div>


        
        
</carousel>
</div>
