.carousel{
    width: 100%;
    padding: 0 0rem;
    margin: 0 auto;
}
carousel{
    height: 80rem;
    
    
}
.carousel-cell{
    width: 100%;

    

}
.carousel-cell img{
    object-fit: cover!important;
    width: 100%;
}
